[Unit]
Description=IPv6 neighbor proxy daemon
Documentation=man:npd6(8)
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/npd6

[Install]
WantedBy=multi-user.target
